<!DOCTYPE html>
<html>
<head><title></title>
    <link rel="stylesheet" href="../public/stylesheets/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="/tablesorter/jquery.tablesorter.combined.min.js"></script>
</head>
<body>
<link rel="stylesheet" href="../public/stylesheets/grid.css">
<h1 class="week-header text-center" id="week-heading">Week 1</h1>
<div class="container-fluid week-header">
    <div class="row">
        <div class="col-md-4">
            <table class="table text-center table-borderless" width="100%" id="result-table">
                <thead class="text-xl-center">
                <tr>
                    <th class="empty-cell"></th>
                    <th class="row-team" id="team-0">Three Jordans</th>
                    <th class="row-team">VS.</th>
                    <th class="row-team" id="team-1">Republicans X</th>
                </tr>
                </thead>
                <tbody id="result-table-body">
                <tr class="row-lowlight">
                    <th scope="col">Pts</th>
                    <td>144.56</td>
                    <td></td>
                    <td>142.28</td>
                </tr>
                <tr class="row-midlight">
                    <th scope="col">Rank</th>
                    <td>6</td>
                    <td></td>
                    <td>7</td>
                </tr>
                <tr class="row-midlight">
                    <th scope="col">Outscores</th>
                    <td>5</td>
                    <td></td>
                    <td>5</td>
                </tr>
                <tr class="row-highlight">
                    <th scope="col">Payday Pts</th>
                    <td>15</td>
                    <td></td>
                    <td>5</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <table class="table text-center table-borderless" width="100%" id="result-table">
                <thead class="text-xl-center">
                <tr>
                    <th class="empty-cell"></th>
                    <th class="row-team" id="team-0">The Deplorables</th>
                    <th class="row-team">VS.</th>
                    <th class="row-team" id="team-1">miguel's Legit Team</th>
                </tr>
                </thead>
                <tbody id="result-table-body">
                <tr class="row-lowlight">
                    <th scope="col">Pts</th>
                    <td>134.84</td>
                    <td></td>
                    <td>157.08</td>
                </tr>
                <tr class="row-midlight">
                    <th scope="col">Rank</th>
                    <td>10</td>
                    <td></td>
                    <td>2</td>
                </tr>
                <tr class="row-midlight">
                    <th scope="col">Outscores</th>
                    <td>2</td>
                    <td></td>
                    <td>9</td>
                </tr>
                <tr class="row-highlight">
                    <th scope="col">Payday Pts</th>
                    <td>2</td>
                    <td></td>
                    <td>19</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <table class="table text-center table-borderless" width="100%" id="result-table">
                <thead class="text-xl-center">
                <tr>
                    <th class="empty-cell"></th>
                    <th class="row-team" id="team-0">Powerhouse</th>
                    <th class="row-team">VS.</th>
                    <th class="row-team" id="team-1">Demogorgon</th>
                </tr>
                </thead>
                <tbody id="result-table-body">
                <tr class="row-lowlight">
                    <th scope="col">Pts</th>
                    <td>160.68</td>
                    <td></td>
                    <td>139.42</td>
                </tr>
                <tr class="row-midlight">
                    <th scope="col">Rank</th>
                    <td>1</td>
                    <td></td>
                    <td>8</td>
                </tr>
                <tr class="row-midlight">
                    <th scope="col">Outscores</th>
                    <td>10</td>
                    <td></td>
                    <td>4</td>
                </tr>
                <tr class="row-highlight">
                    <th scope="col">Payday Pts</th>
                    <td>20</td>
                    <td></td>
                    <td>4</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <table class="table text-center table-borderless" width="100%" id="result-table">
                <thead class="text-xl-center">
                <tr>
                    <th class="empty-cell"></th>
                    <th class="row-team" id="team-0">Fantasy Fútbol</th>
                    <th class="row-team">VS.</th>
                    <th class="row-team" id="team-1">FANTASY TITS IIV</th>
                </tr>
                </thead>
                <tbody id="result-table-body">
                <tr class="row-lowlight">
                    <th scope="col">Pts</th>
                    <td>152.18</td>
                    <td></td>
                    <td>122.94</td>
                </tr>
                <tr class="row-midlight">
                    <th scope="col">Rank</th>
                    <td>3</td>
                    <td></td>
                    <td>11</td>
                </tr>
                <tr class="row-midlight">
                    <th scope="col">Outscores</th>
                    <td>8</td>
                    <td></td>
                    <td>1</td>
                </tr>
                <tr class="row-highlight">
                    <th scope="col">Payday Pts</th>
                    <td>18</td>
                    <td></td>
                    <td>1</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <table class="table text-center table-borderless" width="100%" id="result-table">
                <thead class="text-xl-center">
                <tr>
                    <th class="empty-cell"></th>
                    <th class="row-team" id="team-0">A Team Has No Name</th>
                    <th class="row-team">VS.</th>
                    <th class="row-team" id="team-1">ThePuertoRicanZombie</th>
                </tr>
                </thead>
                <tbody id="result-table-body">
                <tr class="row-lowlight">
                    <th scope="col">Pts</th>
                    <td>150.12</td>
                    <td></td>
                    <td>83.9</td>
                </tr>
                <tr class="row-midlight">
                    <th scope="col">Rank</th>
                    <td>4</td>
                    <td></td>
                    <td>12</td>
                </tr>
                <tr class="row-midlight">
                    <th scope="col">Outscores</th>
                    <td>7</td>
                    <td></td>
                    <td>0</td>
                </tr>
                <tr class="row-highlight">
                    <th scope="col">Payday Pts</th>
                    <td>17</td>
                    <td></td>
                    <td>0</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <table class="table text-center table-borderless" width="100%" id="result-table">
                <thead class="text-xl-center">
                <tr>
                    <th class="empty-cell"></th>
                    <th class="row-team" id="team-0">MGD</th>
                    <th class="row-team">VS.</th>
                    <th class="row-team" id="team-1">Team Mediocre</th>
                </tr>
                </thead>
                <tbody id="result-table-body">
                <tr class="row-lowlight">
                    <th scope="col">Pts</th>
                    <td>146.1</td>
                    <td></td>
                    <td>138.26</td>
                </tr>
                <tr class="row-midlight">
                    <th scope="col">Rank</th>
                    <td>5</td>
                    <td></td>
                    <td>9</td>
                </tr>
                <tr class="row-midlight">
                    <th scope="col">Outscores</th>
                    <td>6</td>
                    <td></td>
                    <td>3</td>
                </tr>
                <tr class="row-highlight">
                    <th scope="col">Payday Pts</th>
                    <td>16</td>
                    <td></td>
                    <td>3</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div><!--#{team1.rank}--><!--#{team2.rank}--><!--#{team1.outscores}--><!--#{team2.outscores}-->
<!--#{team1.rankingPoints}--><!--#{team2.rankingPoints}--></body>
</html>