<div class="container-fluid pl-0 font-0-8x" id="historical-standings">
    <div class=" text-center justify-content-lg-center d-lg-flex section-anchor">
        <div id="hist-standings-accordion">
            <div class="card flex-card border-0 p-2" style="min-width: 725px; max-width: 725px;"
                 id="hist-standings-card">

                <div class="card-title font-weight-bold btn header-style" id="hist-standings-heading"
                     role="button" data-toggle="collapse" data-target="#hist-standings-collapse" aria-expanded="true"
                     aria-controls="hist-standings-collapse">
                    <i class="fas fa-book fa-5x"></i>
                </div>

            </div>
            <div id="hist-standings-collapse" class="collapse" data-parent="#hist-standings-accordion"
                 aria-labelledby="hist-standings-heading">


                {% for hist_rank, week in rankings.sorted_historical_ranks %}

                    <div id="week-{{ week }}-hist-standings-accordion">
                        <div class="card flex-card border-0 p-2" style="min-width: 725px; max-width: 725px;">

                            <div class="card-title font-weight-bold btn header-style"
                                 id="week-{{ week }}-hist-standings-heading" role="button" data-toggle="collapse"
                                 data-target="#week-{{ week }}-hist-standings-collapse"
                                 aria-expanded="false" aria-controls="week-{{ week }}-hist-standings-collapse">

                                Week {{ week }} Standings
                            </div>

                            <div class="collapse" id="week-{{ week }}-hist-standings-collapse"
                                 data-parent="#week-{{ week }}-hist-standings-accordion"
                                 aria-labelledby="week-{{ week }}-hist-standings-heading">


                                <div class="card-header border-0 header-style font-0-7x">
                                    <div class="row flex-row d-flex flex-nowrap align-items-center text-center">
                                        <div class="col flex-column">
                                            <strong>Rank</strong>
                                        </div>
                                        <div class="col-4 flex-column">
                                            <strong>Team</strong>
                                        </div>
                                        <div class="col flex-column">
                                            <strong>$$</strong>
                                        </div>
                                        <div class="col-2 flex-column">
                                            <strong>W-L</strong>
                                        </div>
                                        <div class="col flex-column">
                                            <strong>Avg Rank</strong>
                                        </div>
                                        <div class="col flex-column">
                                            <strong>O/S</strong>
                                        </div>
                                        <div class="col flex-column">
                                            <strong>Avg O/S</strong>
                                        </div>
                                    </div>
                                </div>

                                {% for current_rank in hist_rank %}
                                    <div class="card-body">
                                        <div class="row flex-row d-flex flex-nowrap align-items-center text-center">
                                            <div class="col flex-column">
                                                <output id='{{ current_rank_id_prefix }}overall-rank'>{{ current_rank[1].overall_rank }}</output>
                                            </div>

                                            <div class="col-4 flex-column text-ellipsis font-0-95x">
                                                <output class="float-left"
                                                        id='{{ current_rank_id_prefix }}team-name'>{{ current_rank[1].team.name }}</output>
                                            </div>

                                            <div class="col flex-column">
                                                <output id='{{ current_rank_id_prefix }}ranking-points'>{{ current_rank[1].ranking_points }}</output>
                                            </div>

                                            <div class="col-2 flex-column">
                                                <output id='{{ current_rank_id_prefix }}record'>{{ current_rank[1].wins }}-{{ current_rank[1].losses }}{{ '-' ~ current_rank[1].draws if current_rank[1].draws else '' }}</output>
                                            </div>

                                            <div class="col flex-column">
                                                <output id='{{ current_rank_id_prefix }}avg-rank'>{{ "%.1f" % (current_rank[1].avg_rank | round(2)) }}</output>
                                            </div>

                                            <div class="col flex-column">
                                                <output id='{{ current_rank_id_prefix }}outscores'>{{ current_rank[1].outscores }}</output>
                                            </div>

                                            <div class="col flex-column">
                                                <output id='{{ current_rank_id_prefix }}avg-outscores'>{{ "%.1f" % (current_rank[1].avg_outscores | round(2)) }}</output>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>