{% extends "bootstrap/base.html" %}

{% import 'bootstrap/wtf.html'  as wtf %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-4 font-weight-bold">
                <form method="POST" action="{{ url_for('league') }}">
                    {{ wtf.form_field(league_form.game_code) }}
                    {{ wtf.form_field(league_form.season) }}
                    {{ wtf.form_field(league_form.league_id) }}
                    <input type="submit" value="Rank">
                </form>
            </div>
        </div>
    </div>

{% endblock %}
