{% extends 'base.html' %}

{% block scripts %}
    {{ super() }}

    <script>
        $(function () {
            $("#accordion").accordion();
        });
    </script>

{% endblock %}

{% block content %}
    <div class="container-fluid d-flex" style="min-width: 725px; max-width: 725px;">
        <script type="text/javascript">
            var league_data_path = '{{ league.data_path }}';
            var games_in_progress = {{ rankings.in_progress|tojson|safe }};
        </script>

        <div class="justify-content-center text-center w-100 btn"
             data-toggle="collapse" data-target="#ranking-system-collapse"
             aria-expanded="true" aria-controls="ranking-system-collapse">
            <div class="row flex-row  border-0 pl-4 pr-4 w-100 h2">
                <div class="col flex-column">
                    <hr>
                    <strong style="color: slategray">{{ league.season }}</strong>
                </div>
            </div>
            <div class="row flex-row border-0 pl-4 pr-4 w-100 h2">
                <div class="col flex-column">
                    <i style="color: slategray;"><strong>{{ league.name }}</strong></i>
                    <hr>
                </div>
            </div>

        </div>
    </div>

    <div class="container-fluid pl-0">
        <div class="flex-row justify-content-lg-center d-lg-flex">

            <div class="card flex-card border-0 p-2" style="min-width: 725px; max-width: 725px;">
                <div class="collapse show" id="ranking-system-collapse">
                    <div class="card-title font-weight-bold header-style text-center text-lg-center">
                        <div class="row flex-row">
                            <div class="col-12 flex-column">
                                <i class="fas fa-hand-holding-usd fa-5x" style="color: gold"></i>
                            </div>
                            <div class="col flex-column">
                                <h4 style="color: gold;">The Ranking System</h4>
                            </div>
                        </div>
                    </div>

                    <div class="card-header border-0 header-style text-center">

                        <div class="row flex-row border-0 pl-4 pr-4 h5">
                            <div class="col flex-column">
                                <div class="tooltip-container">
                                    <strong style="color:gold">Win<sup><strong class="far fa-question-circle"></strong></sup></strong>

                                    <div class="tooltip-hover" aria-hidden="true">
                            <span class="tooltip-content">
                                This amount is awarded for winning your head-to-head matchup.
                            </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col flex-column">
                                <div class="tooltip-container">
                                    <strong style="color:gold">Draw<sup><strong class="far fa-question-circle"></strong></sup></strong>

                                    <div class="tooltip-hover" aria-hidden="true">
                            <span class="tooltip-content">
                                This amount is awarded should you and your head-to-head matchup opponent draw.
                            </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col flex-column">
                                <div class="tooltip-container">
                                    <strong style="color:gold">Outscores (O/S)<sup><strong
                                            class="far fa-question-circle"></strong></sup></strong>

                                    <div class="tooltip-hover" aria-hidden="true">
                            <span class="tooltip-content">
                                This amount is awarded for each non-head-to-head opponent your team outscores in a given week.
                            </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="row flex-row border-0 pl-4 pr-4 w-100 h6 text-center">
                            <div class="col flex-column">
                                <strong class="text-dark" style="font-size: x-large; font-weight: bolder;">10</strong>
                            </div>
                            <div class="col flex-column">
                                <strong class="text-dark" style="font-size: x-large; font-weight: bolder;">5</strong>
                            </div>
                            <div class="col flex-column">
                                <strong class="text-dark" style="font-size: x-large; font-weight: bolder;">1</strong>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    {% include 'week-ranks.html' %}
    {% include 'season-ranks.html' %}

{% endblock %}