{% extends 'layout.html' %}
{% block head %}
    {{ super() }}
    <script>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

        const TIME_FORMAT = 'M-D-YYYY hh:mm:ss z';
        const PST = 'America/Los_Angeles';

        var league_data_path = '{{ league.data_path }}';
        var week_in_progress = {{ rankings.in_progress|tojson|safe }};
        var last_updated = moment().tz(PST).format(TIME_FORMAT);
    </script>

{% endblock %}

{% block body %}
    {% include 'navbar.html' %}
    {% include 'season-ranks.html' %}
    {% include 'week-ranks.html' %}
    {% include 'historical-standings.html' %}
    {% include 'ranking-system.html' %}



{% endblock %}
