{% extends "bootstrap/base.html" %}

{% block scripts %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css"
          integrity="sha256-BJ/G+e+y7bQdrYkS2RBTyNfBHpA9IuGaPmf9htub5MQ=" crossorigin="anonymous"/>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    {{ super() }}
{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/grid.css') }}">
{% endblock %}

<script>
    $(function () {
        $("#accordion").accordion();
    });
</script>

{% block content %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12" id="outer-col">

                {% for week, week_ranks in rankings.week_ranks.items() %}
                    {% set week_collapse_id = 'week-{week}-ranks-collapse'.format(week=week) %}

                    <div class="card font-weight-bold week-header mt-2">
                        <div class="card-title btn text-light font-weight-bold"
                             data-toggle="collapse" data-target="#{{ week_collapse_id }}"
                             aria-expanded="false" aria-controls={{ week_collapse_id }}>
                            Week {{ week }} Rankings
                        </div>
                        <div class="collapse" id={{ week_collapse_id }}>
                            <div class="row text-center text-light">
                                <div class="col">
                                    <div class="card-body">
                                        Rank
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card-body">
                                        Team
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card-body">
                                        Team Points
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card-body">
                                        Paydays
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card-body">
                                        Result
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card-body">
                                        Outscores
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card-body">
                                        Opponent
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card-body">
                                        Opp. Points
                                    </div>
                                </div>
                            </div>

                            {% for rank in week_ranks %}
                                <div class="card"
                                     id="week-{{ week }}-team-{{ rank.team.team_id }}-rankings-data-card">

                                    <div class="row no-gutters text-center row-team">
                                        <div class="col">
                                            <div class="card-body">
                                                {{ rank.rank }}</div>
                                        </div>
                                        <div class="col">
                                            <div class="card-body col-team">
                                                {{ rank.team.name }}</div>
                                        </div>
                                        <div class="col">
                                            <div class="card-body">
                                                {{ rank.team_points }}</div>
                                        </div>
                                        <div class="col">
                                            <div class="card-body">
                                                {{ rank.ranking_points }}</div>
                                        </div>
                                        <div class="col">
                                            <div class="card-body">
                                                    {{ rank.result }}
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="card-body">
                                                {{ rank.outscores }}</div>
                                        </div>
                                        <div class="col">
                                            <div class="card-body">
                                                {{ rank.opponent.name }}</div>
                                        </div>
                                        <div class="col">
                                            <div class="card-body">
                                                {{ rank.opponent_points }}</div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}

                <div class="card season-header text-light font-weight-bold mt-2" id="season-rankings-header-card">
                    <div class="card-title btn text-light font-weight-bold"
                         data-toggle="collapse" data-target="#season-ranks-collapse"
                         aria-expanded="true" aria-controls=season-ranks-collapse>
                        <div>Season Ranks</div>
                        {% if rankings.in_progress %}
                            <div class="font-italic">Games In Progress: ranks based on in-progress results are shown as
                                the second team in each row
                            </div>
                        {% endif %}
                    </div>

                    <div class="collapse show" id="season-ranks-collapse">
                        <div class="row no-gutters text-center">
                            <div class="col">
                                <div class="card-body text-light font-weight-bold">
                                    Rank
                                </div>
                            </div>
                            <div class="col">
                                <div class="card-body text-light font-weight-bold">
                                    Team
                                </div>
                            </div>
                            <div class="col">
                                <div class="card-body text-light font-weight-bold">
                                    Paydays
                                </div>
                            </div>
                            <div class="col">
                                <div class="card-body text-light font-weight-bold">
                                    Record
                                </div>
                            </div>
                            <div class="col">
                                <div class="card-body text-light font-weight-bold">
                                    Avg. Rank
                                </div>
                            </div>
                            <div class="col">
                                <div class="card-body text-light font-weight-bold">
                                    Outscores
                                </div>
                            </div>
                            <div class="col">
                                <div class="card-body font-weight-bold">
                                    Avg. Outscores
                                </div>
                            </div>
                        </div>

                        {% for current_rank, progress_rank in rankings.sorted_season_ranks | zip(rankings.sorted_season_ranks_in_progress) %}
                            <div class="card" id="season-rankings-data-card">

                                <div class="row no-gutters text-center row-team text-dark">

                                    {% set progress_team_id = progress_rank[1].team.team_id %}
                                    {% set direction = rankings.in_progress_rank_changes[progress_team_id].direction %}

                                    {% if direction == RankChange.Direction.UP %}
                                        {% set color_class = "rank-increase" %}
                                        {% set arrow_class = "oi oi-arrow-top up-arrow" %}
                                    {% elif direction == RankChange.Direction.DOWN %}
                                        {% set color_class = "rank-decrease" %}
                                        {% set arrow_class = "oi oi-arrow-bottom down-arrow" %}
                                    {% else %}
                                        {% set color_class = "text-dark" %}
                                        {% set arrow_class = "oi oi-minus no-arrow" %}
                                    {% endif %}

                                    <div class="col col-highlight">
                                        <div class="card-body">
                                            {{ current_rank[1].overall_rank }}
                                        </div>
                                    </div>

                                    <div class="col">
                                        <div class="card-body col-team">
                                            {{ current_rank[1].team.name }}</div>

                                        {% if rankings.in_progress %}
                                            <div class="card-body col-team {{ color_class }}">
                                                <span>
                                                {{ progress_rank[1].team.name }}
                                                </span>

                                                <div class="rank-change-arrow">
                                                    <span class="{{ arrow_class }}">
                                                        {{ rankings.in_progress_rank_changes[progress_team_id].current - rankings.in_progress_rank_changes[progress_team_id].prior }}
                                                    </span>
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>

                                    <div class="col">
                                        <div class="card-body">
                                            {{ current_rank[1].ranking_points }}</div>
                                        {% if rankings.in_progress %}
                                            <div class="card-body {{ color_class }}">
                                                {{ progress_rank[1].ranking_points }}
                                            </div>
                                        {% endif %}
                                    </div>

                                    <div class="col">
                                        <div class="card-body">
                                            {{ current_rank[1].wins }}-{{ current_rank[1].losses }}{{ '-' ~ current_rank[1].draws if current_rank[1].draws else '' }}
                                        </div>
                                        {% if rankings.in_progress %}
                                            <div class="card-body {{ color_class }}">
                                                {{ progress_rank[1].wins }}-{{ progress_rank[1].losses }}{{ '-' ~ progress_rank[1].draws if progress_rank[1].draws else '' }}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="col">
                                        <div class="card-body">
                                            {{ current_rank[1].avg_rank }}</div>
                                        {% if rankings.in_progress %}
                                            <div class="card-body {{ color_class }}">
                                                {{ progress_rank[1].avg_rank }}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="col">
                                        <div class="card-body">
                                            {{ current_rank[1].outscores }}</div>
                                        {% if rankings.in_progress %}
                                            <div class="card-body {{ color_class }}">
                                                {{ progress_rank[1].outscores }}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="col">
                                        <div class="card-body">
                                            {{ current_rank[1].avg_outscores }}</div>
                                        {% if rankings.in_progress %}
                                            <div class="card-body {{ color_class }}">
                                                {{ progress_rank[1].avg_outscores }}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
