<div class="container-fluid pl-0 " id="ranking-system">
    <div class="flex-row justify-content-lg-center d-lg-flex">

        <div class="card flex-card border-0 p-2" style="min-width: 725px; max-width: 725px;">
            <div class="card-title font-weight-bold header-style text-center text-lg-center">
                <i class="fas fa-hand-holding-usd fa-4x pt-2 pb-2" style="color: gold"></i>
            </div>
            <div class="collapse show" id="ranking-system-collapse">

                <div class="card-header border-0 header-style text-center">

                    <div class="row flex-row border-0 pl-4 pr-4">
                        <div class="col flex-column">
                            <div class="tooltip-container">
                                <strong style="color:gold">Win</strong>

                                <div class="tooltip-hover" aria-hidden="true">
                            <span class="tooltip-content">
                                This amount is awarded for winning your head-to-head matchup.
                            </span>
                                </div>
                            </div>
                        </div>
                        <div class="col flex-column">
                            <div class="tooltip-container">
                                <strong style="color:gold">Draw</strong>

                                <div class="tooltip-hover" aria-hidden="true">
                                        <span class="tooltip-content">
                                            This amount is awarded should you and your head-to-head matchup opponent draw.
                                        </span>
                                </div>
                            </div>
                        </div>
                        <div class="col flex-column">
                            <div class="tooltip-container">
                                <strong style="color:gold">Outscores (O/S)</strong>

                                <div class="tooltip-hover" aria-hidden="true">
                            <span class="tooltip-content">
                                This amount is awarded for each non-head-to-head opponent your team outscores in a given week.
                            </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <div class="row flex-row border-0 pl-4 pr-4 w-100 text-center">
                        <div class="col flex-column">
                            <strong class="text-dark">10</strong>
                        </div>
                        <div class="col flex-column">
                            <strong class="text-dark">5</strong>
                        </div>
                        <div class="col flex-column">
                            <strong class="text-dark">1</strong>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>