<div class="container-fluid pl-0">
    {% for week, week_ranks in rankings.week_ranks.items() %}

        {% set week_collapse_id = 'week-{week}-ranks-collapse'.format(week=week) %}

        <div class="flex-row justify-content-lg-center d-lg-flex">

            <div class="card flex-card border-0 p-2" style="min-width: 725px; max-width: 725px;">
                <div class="card-title font-weight-bold btn header-style text-left text-lg-center"
                     data-toggle="collapse" data-target="#{{ week_collapse_id }}"
                     aria-expanded="false" aria-controls="{{ week_collapse_id }}">
                        <span class="fa-stack fa-3x" style="color:ghostwhite;">
                          <i class="far fa-circle fa-stack-2x"></i>
                          <strong class="fa-stack-1x">{{ week }}</strong>
                        </span>
                </div>
                <div class="collapse section" id={{ week_collapse_id }}>
                    <div class="card-header border-0 header-style">
                        <div class="row flex-row d-flex flex-nowrap align-items-center text-center m-auto">
                            <div class="col flex-column">
                                Rank
                            </div>
                            <div class="col-3 flex-column">
                                Team
                            </div>
                            <div class="col flex-column">
                                Pts
                            </div>
                            <div class="col flex-column">
                                Opp Pts
                            </div>
                            <div class="col-2 flex-column">
                                Opp
                            </div>
                            <div class="col flex-column">
                                Result
                            </div>
                            <div class="col flex-column">
                                $$
                            </div>
                        </div>
                    </div>

                    {% for rank in week_ranks %}
                        <div class="card-body">
                            <div class="row flex-row d-flex flex-nowrap align-items-center text-center m-auto">
                                <div class="col flex-column">
                                    {{ rank.rank }}
                                </div>
                                <div class="col-3 flex-column text-ellipsis">
                                    {{ rank.team.name }}
                                </div>
                                <div class="col flex-column">
                                    {{ rank.team_points }}
                                </div>
                                <div class="col flex-column">
                                    {{ rank.opponent_points }}
                                </div>
                                <div class="col-2 flex-column text-ellipsis">
                                    {{ rank.opponent.name }}
                                </div>
                                <div class="col flex-column">
                                    {{ rank.result }}
                                </div>
                                <div class="col flex-column">
                                    {{ rank.ranking_points }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>

