<div class="container-fluid pl-0">
    {% for week, week_ranks in rankings.week_ranks.items() %}
        {% set week_in_progress = league.game_weeks[week].week_in_progress %}
        {% set week_color = "#fff3bb" if week_in_progress else "ghostwhite" %}
        {% set week_collapse_id = 'week-{week}-ranks-collapse'.format(week=week) %}

        <div class="flex-row justify-content-lg-center d-lg-flex week-section" id="week-{{ week }}">

            <div class="card flex-card border-0 p-2" style="min-width: 725px; max-width: 725px;">
                <div class="card-title font-weight-bold btn header-style text-center text-lg-center"
                     data-toggle="collapse" data-target="#{{ week_collapse_id }}"
                     aria-expanded="false" aria-controls="{{ week_collapse_id }}">
                        <span class="fa-stack fa-3x" style="color:{{ week_color }};">
                          <i class="far fa-circle fa-stack-2x"></i>
                          <strong class="fa-stack-1x">{{ week }}</strong>
                        </span>
                </div>
                <div class="collapse {{ 'show' if week_in_progress else '' }}" id={{ week_collapse_id }}>
                    <div class="card-header border-0 header-style align-items-center text-center m-auto">
                        <div class="row flex-row d-flex flex-nowrap align-items-center">
                            <div class="col flex-column">
                                Rank
                            </div>
                            <div class="col-3 flex-column">
                                Team
                            </div>
                            <div class="col flex-column">
                                <div class="row flex-row flex-nowrap">
                                    <div class="col flex-column" style="margin-right: -30px;">
                                        Pts
                                    </div>
                                    <div class="col flex-column small {{ 'far fa-clock' if week_in_progress else '' }}"
                                         style="color: #fff3bb; vertical-align: super">
                                    </div>
                                </div>
                            </div>
                            <div class="col flex-column">
                                <div class="row flex-row flex-nowrap">
                                    <div class="col flex-column" style="margin-right: -30px;">
                                        OPts
                                    </div>
                                    <div class="col flex-column small {{ 'far fa-clock' if week_in_progress else '' }}"
                                         style="color: #fff3bb; vertical-align: super">
                                    </div>
                                </div>
                            </div>
                            <div class="col-2 flex-column">
                                Opp
                            </div>
                            <div class="col flex-column">
                                <div class="row flex-row flex-nowrap">
                                    <div class="col flex-column" style="margin-right: -30px;">
                                        W/L
                                    </div>
                                    <div class="col flex-column small {{ 'far fa-clock' if week_in_progress else '' }}"
                                         style="color: #fff3bb; vertical-align: super">
                                    </div>
                                </div>
                            </div>
                            <div class="col flex-column">
                                <div class="row flex-row flex-nowrap">
                                    <div class="col flex-column" style="margin-right: -30px;">
                                        $$
                                    </div>
                                    <div class="col flex-column small {{ 'far fa-clock' if week_in_progress else '' }}"
                                         style="color: #fff3bb; vertical-align: super">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% for rank in week_ranks %}

                        {% set rank_id_prefix = [week, rank.team.team_id, rank.opponent.team_id] | join('-') %}

                        <div class="card-body">
                            <div class="row flex-row d-flex flex-nowrap align-items-center text-center m-auto">
                                <div class="col flex-column">
                                    <output id="{{ rank_id_prefix }}-rank">{{ rank.rank }}</output>
                                </div>
                                <div class="col-3 flex-column text-ellipsis">
                                    <output id="{{ rank_id_prefix }}-team-name">{{ rank.team.name }}</output>
                                </div>
                                <div class="col flex-column">
                                    <output id="{{ rank_id_prefix }}-team-points">{{ rank.team_points }}</output>
                                </div>
                                <div class="col flex-column">
                                    <output id="{{ rank_id_prefix }}-opponent-points">{{ rank.opponent_points }}</output>
                                </div>
                                <div class="col-2 flex-column text-ellipsis">
                                    <output id="{{ rank_id_prefix }}-opponent-name">{{ rank.opponent.name }}</output>
                                </div>
                                <div class="col flex-column">
                                    <output id="{{ rank_id_prefix }}-result">{{ rank.result }}</output>
                                </div>
                                <div class="col flex-column">
                                    <output id="{{ rank_id_prefix }}-ranking-points">{{ rank.ranking_points }}</output>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>

